$default-text-color: #3A3A49;
$primary-color: #3858FF;
$gray: #3A3A49;
$primary-color-disabled: rgba(242, 242, 242, 1);
$gray-disabled: rgba(187, 187, 187, 1);
$accent: #F2F6FC;
$stroke: #BBB;
$button-hover: rgba(22, 38, 125, 1);

