$default-text-color: #3A3A49;
$primary-color: #3858FF;
$gray: #3A3A49;
$primary-color-disabled: rgba(56, 88, 255, 0.50);
$gray-disabled: rgba(255, 255, 255, 0.90);
$accent: #F2F6FC;
$stroke: #BBB;
$button-hover: #16267D;

