
.extractingStatusWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    .spinner {
        width:96px;
        height:96px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    p {
        color: var(--Gray, #3A3A49);
        text-align: center;
        font-family: 'Lato';
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    }