/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/_components/custom-input/styles.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_inputContainer__ZcJiU {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  font-family: "Lato";
}
.styles_inputContainer__ZcJiU .styles_label__F_gwS {
  color: var(--Gray, #3A3A49);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styles_inputContainer__ZcJiU .styles_input__phViT {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid var(--stroke, #BBB);
  background: var(--Background, #FDFDFD);
  padding: 10px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
  outline: none;
  color: var(--Gray, #3A3A49);
}
.styles_inputContainer__ZcJiU .styles_input__phViT::placeholder {
  color: #7E7E7E;
}
.styles_inputContainer__ZcJiU .styles_warningWrapper__MPfU2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #EC464A;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.styles_inputContainer__ZcJiU .styles_warningWrapper__MPfU2 .styles_warningIcon__qxCaH {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styles_inputContainer__ZcJiU .styles_warningWrapper__MPfU2 p {
  width: auto;
  height: auto;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/(routes)/(auth)/login/styles.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__YY6R4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-height: 516px;
  max-width: 554px;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #BBB;
  background: var(--Background, #FDFDFD);
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_logo__EqBkX {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_header__V_6v7 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: "Lato";
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_header__V_6v7 h1 {
  color: #3A3A49;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_header__V_6v7 .styles_subtitle__6rS6E {
  color: #3A3A49;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_header__V_6v7 .styles_subtitle__6rS6E span {
  color: var(--Primary-color, #3858FF);
  font-weight: 700;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-family: "Lato";
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_inputsContainer__VWPQX {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_button__2A8qp {
  width: auto;
  height: 44px;
  border-radius: 12px;
  background: var(--Primary-color, #3858FF);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Background, #FDFDFD);
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  padding: 10px 20px;
  transition: 0.1s ease-in-out;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_button__2A8qp:hover {
  cursor: pointer;
  background: #2E4BFF;
}
.styles_container__YY6R4 .styles_innerContainer__Z2LCv .styles_button__2A8qp:disabled {
  transition: 0.1s ease-in-out;
  background: #BDBDBD;
  cursor: not-allowed;
  background: var(--Inactive, #F2F2F2);
  color: rgb(187, 187, 187);
}
