/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/_components/dropzone/styles.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__AQJ3w {
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: flex-start;
  align-items: center;
}

.styles_extractButton__odSka {
  width: auto;
  height: 44px;
  min-width: 218px;
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.styles_extractButton__odSka.styles_disabled__4rCgM {
  background-color: rgba(56, 88, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
}
.styles_extractButton__odSka.styles_enabled__6JWu6 {
  background-color: #3858FF;
  color: #FFF;
}
.styles_extractButton__odSka.styles_enabled__6JWu6:hover {
  background-color: #16267D;
}

.styles_container__xCXqn {
  width: 100%;
  max-width: 808px;
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #BBB;
  background-color: #FFF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 84px;
}
.styles_container__xCXqn .styles_logo__Z7_iG {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.styles_container__xCXqn .styles_selectButton__f_xt4 {
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 44px;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 500;
}
.styles_container__xCXqn .styles_selectButton__f_xt4.styles_disabled__4rCgM {
  background-color: rgba(56, 88, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
}
.styles_container__xCXqn .styles_selectButton__f_xt4.styles_enabled__6JWu6 {
  background-color: #3858FF;
  color: #FFF;
}
.styles_container__xCXqn .styles_selectButton__f_xt4.styles_enabled__6JWu6:hover {
  background-color: #16267D;
}
.styles_container__xCXqn .styles_dropZone__9TyVl .styles_desc__ej_ZO {
  color: #3A3A49;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styles_container__xCXqn .styles_dropZone__9TyVl .styles_desc__ej_ZO.styles_visible__kOR7y {
  display: block;
}
.styles_container__xCXqn .styles_dropZone__9TyVl .styles_desc__ej_ZO.styles_hidden__UnIX_ {
  display: none;
}
.styles_container__xCXqn .styles_fileList__uIXBL {
  width: 100%;
  max-width: 504px;
  height: auto;
  max-height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_maxFile__uPjsE {
  color: #3A3A49;
  font-family: "Lato";
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_maxFile__uPjsE span {
  color: #3858FF;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_maxFile__uPjsE.styles_visible__kOR7y {
  display: block;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_maxFile__uPjsE.styles_hidden__UnIX_ {
  display: none;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_fileBox__AmMGo {
  width: 100%;
  height: auto;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  border-radius: 12px;
  background-color: #F2F6FC;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_fileBox__AmMGo.styles_isRemoving__CAESl {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_fileBox__AmMGo .styles_fileName__z3yKM {
  color: #3A3A49;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  max-width: 186px;
  height: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.styles_container__xCXqn .styles_fileList__uIXBL .styles_fileBox__AmMGo .styles_remove__UBraa {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles_extractingStatusWrapper__9IaK9 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.styles_extractingStatusWrapper__9IaK9 .styles_spinner__ilFl4 {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styles_extractingStatusWrapper__9IaK9 p {
  color: var(--Gray, #3A3A49);
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/_layouts/Home.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Home_container___3RC1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  column-gap: 20px;
  min-height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
